ARK_API_KEY=
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_TEXT_MODEL=doubao-seed-2-0-code-preview-260215
ARK_IMAGE_MODEL=doubao-seedream-5-0-260128
TEXT_PROVIDER=ark
IMAGE_PROVIDER=ark
ARK_TEXT_TIMEOUT_MS=20000
ARK_IMAGE_TIMEOUT_MS=180000
PORT=3000
